$color-gray-light: #aaaaaa;
$color-gray-extra-light: #f7f7f7;
$color-blue: #00b3e5;
$color-blue-dark: #288eb7;

$font-Titillium-Web: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif;
$font-PT-Serif: 'PT Serif', Georgia, serif;
