.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__links {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: $font-Titillium-Web;
    font-size: 4rem;
    font-weight: 900;
    margin-top: -1.25rem;
  }

  &__subscribe {
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    background-color: $color-blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 700;

    &:hover {
      background-color: $color-blue-dark;
    }
  }
}
